In [2]:
#  finding out length and using split function
s = "hey i am from coding blocks"
len(s)

27

In [4]:
s1 = s.split()

In [5]:
print(s1)

['hey', 'i', 'am', 'from', 'coding', 'blocks']

In [7]:
# Q2
s = "name is rahul"

In [8]:
s.capitalize()

'Name is rahul'

In [12]:
s1 = s.replace("n","r")

In [13]:
print(s1)

rame is rahul

In [14]:
s1.title()

'Rame Is Rahul'

In [16]:
s.upper()

'NAME IS RAHUL'

In [26]:
# Q3
length = 7
breadth = 6
area = (length*breadth)
peri = (2*(length + breadth))

In [28]:
print(area)
print(peri)

42
26

In [38]:
# Q4
diametre = 8
circum = (2*(22/7)*(diametre/2))
area = ((22/7)*(diametre/2)**2)

In [39]:
print(circum)
print(area)

25.142857142857142
50.285714285714285

In [88]:
# Q5
a = 3
b = 5
c = 9
x1 = ((-b + (b**2 - 4*a*c)**1/2)/2*a)
x2 = ((-b - (b**2 - 4*a*c)**1/2)/2*a)

In [89]:
print(x1)
print(x2)

-69.75
54.75

In [50]:
# Q6
radius = 9
volume = ((4/3)*(22/7)*(radius)**3)

In [51]:
print(volume)

3054.857142857142

In [68]:
# Q7
c = "5094987486596908"
len(c)

16

In [76]:
# Q8
s = "kutta kamina"
s1 = s.upper()

In [77]:
print(s1)

KUTTA KAMINA

In [115]:
# Q10
r = "you are atul"
r[::-1]

'luta era uoy'

In [101]:
# Q9
a = "bhaiya"
c = list(a)

In [102]:
print(c)

['b', 'h', 'a', 'i', 'y', 'a']

In [106]:
c[2] = "r"

In [107]:
print(c)

['b', 'h', 'r', 'i', 'y', 'a']

In [113]:
"".join(c)

'bhriya'